<% provide(:title, 'Home') %>

<% if signed_in? %>
	<div class="row">
		<aside class="span9">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/article_form' %>
			</section>
		</aside>
		<div class="span5">
			<div class="section-title">
				<span class="title">
					JOBS
				</span>
			</div>
			<div class="section" style="height: auto;">
				<%= render 'shared/job' %>
			</div>
			<div class="section-title">
				<span class="title">
					FEED
				</span>
			</div>
			<div class="section" style="height: auto;">
				<%= render 'shared/feed' %>
			</div>

		</div>
	</div>
<% else %>
	<div class="center hero-unit">
		<%= link_to image_tag("zen_logo.png", alt: "Apache", size: "400"), "https://www.apache-da.com/" %>
		<h2>
			Web tools for QA team
		</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
	<%= link_to image_tag("rails.png", alt: "Rails",size: "100"), 'http://rubyonrails.org/' %>
	<%= link_to image_tag("elastic_usergroup.png", alt: "Elastic", size: "200"), 'https://www.elastic.co/' %>
	<%= link_to image_tag("ckeditor.png", alt: "Ckeditor",size: "200"), 'http://ckeditor.com/' %>
	<%= link_to image_tag("logo.gif", alt: "Ansys",size: "180"), 'http://www.ansys.com/' %>



<% end %>
