<% provide(:title, 'Home') %>
<% if signed_in? %>
	<div class="row">
		<aside class="span7">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/article_form' %>
			</section>
		</aside>
		<div class="span5">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
		<%= link_to image_tag("zen_logo.png", alt: "Apache"), "https://www.apache-da.com/" ,class: "btn btn-large" %>
		<h2>
			Web tools for QA team
		</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
	<%= link_to image_tag("logo.gif", alt: "ANSYS"), 'http://www.ansys.com/' %>
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>