<% provide(:title, 'Edit article') %>
<div class = "row">
				<%= form_for(@article) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>

		    			<%= f.label :title %>
		    			<%= f.text_field :title, placeholder: "Compose new article title..." %>

		    			<%= f.label :content %>
		    			<%= f.cktext_area :content, rows: 10 %>

					
					<%= f.submit "Save", class: "btn btn-small btn-primary" %>
					<%= link_to "Exit", article_path(@article), class: "btn btn-small btn-primary" %>
				<% end %>
</div>