<% provide(:title, 'All Articles') %>
<h1>All Articles</h1>

<%= will_paginate %>
<div class = "row">
<ul class="users">
	<%= render @articles %>
</ul>
</div>
<%= will_paginate %>



<%= form_tag articles_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


