<% provide(:title, @article.title) %>

<div class = "row">
	<aside class = "span3">
		<section>
			<h1>
	<%= gravatar_for @article.user %>
	<%= @article.user.name %>
			</h1>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<aside class = "span9">
		<h1><%= @article.title.html_safe %></h1>
		<h2><%= @article.content.html_safe %></h2>
		<aside class = "rightbutton">
			<h6>
				<% if current_user?(@article.user) %>
				    <%= link_to "Edit", edit_article_path(@article),  title: @article.title, class: "btn btn-large btn-primary" %>
					<%= link_to "Delete", @article, method: :delete, data: { confirm: "You Sure?" }, title: @article.title, class: "btn btn-large btn-primary" %>
				<% end %>
			</h6>
	    </aside>
	</aside>
	
	
</div>