<% provide(:title, @user.name) %>
<div class = "row">
	<aside class = "span4 offset2">
		<section>
			<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
			</h1>
	<%= @user.email %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="span8">
		<%= render 'follow_form' if signed_in? %>
		<% if @user.articles.any? %>
			<h3>Article (<%= @user.articles.count %>)</h3>
			<ol class="articles">
				<%= render @articles %>
			</ol>
			<%= will_paginate @articles %>
		<% end %>
	</div>
</div>