	<tr>
	<td>
		<%= gravatar_for sqajob.user, size: 52 %>
		<h14><%= link_to sqajob.user.name, sqajob.user %></h14>
	</td>
	<td>
		<span class="content">
		<%= link_to sqajob.jobname, sqajob %>
		</span>
	</aside>
	</td>
	<td>
		<span class="content">
		<h14><%= sqajob.case_group.join(" | ").html_safe %></h14>
		</span>
	</td>
	<td>
		<span class="content">
		<% if sqajob.job_state == "notrun" || sqajob.job_state == "waiting" %>
		<h13><%= sqajob.job_state %></h13>
		<% elsif sqajob.job_state == "running" || sqajob.job_state == "rundone" %>
		<h11><%= sqajob.job_state %></h11>
		<% elsif sqajob.job_state == "stopped" %>
		<h12><%= sqajob.job_state %></h12>
		<% end %>
		</span>
	</td>
	<td>
		<span class="content">
			<%= sqajob.created_at %>
		</span>
	</td>
	<td>
		<% if running?(sqajob) == "notrun" || running?(sqajob) == "stopped" || running?(sqajob) == "waiting" %>
			<%= link_to "Log", "#", class: "btn btn-large btn-default disabled" %>	
		<% else %>
			<%= link_to "Log", joblog_path(sqajob.id), class: "btn btn-large btn-primary" %>
		<% end %>
		<% if running?(sqajob) == "rundone" %>
			<%= link_to "Result", "#", class: "btn btn-large btn-primary" %>
		<% else %>
			<%= link_to "Result", "#", class: "btn btn-large btn-default disabled" %>
		<% end %>
		<% if current_user?(sqajob.user) || current_user.id == 1 %>
			<%= link_to "Del", sqajob, method: :delete, data: { confirm: "You Sure?" }, title: sqajob.jobname, class: "btn btn-large btn-primary" %>
		<% end %>
	</td>
	</tr>