<% provide(:title, "Special QA Jobs Details") %>

<div class = "row">

	<aside class = "span3 offset1">
		<section>
			<h1>
	<%= gravatar_for @sqajob.user %>
	<%= @sqajob.user.name %>
			</h1>
	<%= @sqajob.user.email %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<aside class = "span9">
		<h1>Special QA Job Details</h1>
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<td>
						<h7>Test Case Group *</h7>
					</td>
					<td>
						<h9><%= @sqajob.case_group.join(" | ").html_safe %></h9>
					</td>
				</tr>
				<tr>
					<td>
						<h8>Test Case List File</h8>
					</td>
					<td>
						<h10><%= @sqajob.case_list_file.html_safe %></h10>
					</td>
				</tr>
				<tr>
					<td>
						<h8>Gold Version</h8>
					</td>
					<td>
						<h10><%= @sqajob.gversion.html_safe %></h10>
					</td>
				</tr>
				<tr>
					<td>
						<h8>Gold Build</h8>
					</td>
					<td>
						<h10><%= @sqajob.gbuild.html_safe %></h10>
					</td>
				</tr>
				<tr>
					<td>
						<h7>New Version *</h7>
					</td>
					<td>
						<h9><%= @sqajob.nversion.html_safe %></h9>
					</td>
				</tr>
				<tr>
					<td>
						<h7>New Build *</h7>
					</td>
					<td>
						<h9><%= @sqajob.nbuild.html_safe %></h9>
					</td>
				</tr>
				<tr>
					<td>
						<h8>Muiltithread</h8>
					</td>
					<td>
						<h10><%= @sqajob.slotthread.to_s.html_safe %></h10>
					</td>
				</tr>
				<tr>
					<td>
						<h8>GSR File</h8>
					</td>
					<td>
						<h10><%= @sqajob.gsrfile.html_safe %></h10>
					</td>
				</tr>
				<tr>
					<td>
						<h8>Golden Variable</h8>
					</td>
					<td>
						<h10><%= @sqajob.genv.html_safe %></h10>
					</td>
				</tr>
				<tr>
					<td>
						<h8>New Variable</h8>
					</td>
					<td>
						<h10><%= @sqajob.nenv.html_safe %></h10>
					</td>
				</tr>
			</table>
		</div>

		
	</aside>
	
</div>

<div class = "row">
	<aside class = "span12 offset1">
		<% if current_user?(@sqajob.user) || current_user.admin? %>
			<%= render 'runsqajob_form' %>
		<% else %>
			<%= render 'checksqajob_form' %>
		<% end %>
	</aside>
</div>
